
body {
  /*background: linear-gradient(to right, rgb(18, 149, 216), rgb(0, 100, 164));*/
  min-height: 100vh;
}

#title-header {
  text-align: center;
}

#app-title {
  font-family: 'Chewy', cursive;
  font-size: 90px;
  color: #1295D8;
  margin: 30px 10px 0px 10px;
}

#app-subtitle {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #FFB511;
  margin: 0px 10px 10px 10px;
}

.dialog {
  display: none;
}

.forecast-block {
  display: flex;
  justify-content: center;
}

.forecast-carousel {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.card {
  margin: 1rem;
  text-align: center;
  background-color: #1295D8;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card-data {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 23px;
  font-weight: normal;
  color: white;
}

.card-day {
  font-family: 'Chewy', cursive;
  font-size: 45px;
  font-weight: normal;
  color: #FFB511;
}

.temp-block {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.temp-block-item {
  margin: 20px;
}

.more-info-btn {
  background: none;
  border: none;
  font-family: 'Chewy', cursive;
  font-size: 25px;
  font-weight: normal;
  color: #FFB511;
  padding: 0px 20px 20px 20px;
  cursor: pointer;
}

.more-info-btn:hover {
  letter-spacing: 1px;
}

#no-forecast-header {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.slick-slide {
  opacity: .5;
}

.slick-center {
  border: 5px solid #FFB511;
  opacity: 1;
}

.slick-prev:before, .slick-next:before {
  color: darkslategray;
}